body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
.asgn_sec {
    width: 90%;
    margin: 128px auto;
    border: 1px solid gray;
    border-radius: 10px;
}
p.asgn_head {
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: red;
}
input.inp_pid {
    margin-left: 20%;
    font-size: 18px;
    padding: 5px;
}
input.inp_fname {
    width: 30%;
    font-size: 18px;
    padding: 5px;
    margin-left: 20%;
}
input.inp_lname {
    width: 30%;
    font-size: 18px;
    padding: 5px;
    margin-left: 25px;
}
input.inp_date {
    margin-left: 1%;
    font-size: 18px;
    padding: 5px;
    width: 13%;
}
input.inp_age {
    width: 6%;
    font-size: 18px;
    padding: 5px;
    margin-left: 20%;
}
select.sel_building {
    margin-left: 131px;
    font-size: 18px;
    padding: 5px;
    color: gray;
}
select.sel_room {
    margin-left: 6px;
    font-size: 18px;
    padding: 5px;
    color: gray;
}
input.btn_asgnroom {
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: 18px;
    border: none;
    background: red;
}
.error_msg{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
}