body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
section.slider_sec {
    width: 100%;
    background: url(image/13.jpg);
    background-size: cover;
    background-position-y: 38%;
}
p.slider_head {
    margin: 0;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 8px 4px 8px black;
    padding-top: 2%;
    margin-left: 8%;
    padding-bottom: 5%;
}
.quick_link {
    width: 22%;
    background: #fe0000;
    margin-left: 8%;
}
p.quick_link_head {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 3%;
}
.hr1{
	width: 30%;
    margin: 5px 3%;
    padding: 2px 0;
    background: #31d2de;
    border: none;
}
p.quick_head {
    margin: 0;
    padding-top: 2%;
    padding-left: 3%;
    color: white;
    padding-bottom: 2%;
}
.topsearch_sec {
    width: 20%;
    display: flex;
    float: right;
}
input.inp_search {
    width: 60%;
    padding: 2%;
    margin: 6% 0;
}
input.btn_search {
    background: red;
    border: none;
    color: white;
    font-size: 15px;
    height: 37px;
    margin-top: 6%;
}
section.blog_sec {
    width: 100%;
}
.box {
    width: 90%;
    margin: 0 auto;
    border: 1px solid lightgray;
    margin-top: 6%;
    padding-bottom: 3%;
}
.img_name_date {
    width: 35%;
    display: flex;
}
img.img_prop1 {
    border-radius: 60px;
    margin-left: 10%;
    margin-top: 6%;
}
.name_date {
    width: 40%;
    margin-top: 3%;
}
p.name_head {
    font-size: 20px;
    margin: 0;
    padding-top: 9%;
    margin-left: 8%;
    font-weight: bold;
    color: red;
}
p.date_head {
    font-size: 15px;
    margin: 0;
    margin-left: 8%;
    color: gray;
    font-weight: bold;
}
p.blog_para {
    width: 90%;
    margin: 1% auto;
    font-size: 18px;
}
a.btn_readmore {
    float: right;
    margin-right: 5%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #31d2de;
}
.loadmore_sec {
    text-align: center;
    width: 100%;
    margin: 2% 0;
}
a.btn_loadmore {
    background: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}