body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
.navbar {
    width: 100%;
    display: flex;
    background: #31D2DE;
}
.logo_sec {
    width: 10%;
}
.nav_sec {
    width: 90%;
    margin: auto 0;
    margin-right: 2%;
}
.ul_nav_sec {
    width: 12%;
    display: flex;
    padding: 0;
    list-style: none;
}
.ul_nav_sec li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.ul_nav_sec li {
    margin-right: 10%;
}
section.pswd_sec {
    width: 90%;
    margin: 40px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
}
p.pswd_head {
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: red;
}
input.inp_uname {
    width: 28%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 1%;
    margin-top: 2%;
}
input.inp_oldpswd {
    width: 28%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 1%;
}
input.inp_newpswd {
    width: 28%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 1%;
}
input.inp_confpswd {
    width: 28%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 1%;
}
input.btn_submit {
    font-size: 18px;
    padding: 5px;
    border: none;
    color: white;
    background: red;
    margin: 1% 0;
}
.incorrect_para {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1%;
}
.update_para{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1%;
}