body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
section.slider_sec {
    width: 100%;
    background: url(image/11.jpg);
    background-size: cover;
    background-position-y: 60%;
}
p.slider_head {
    margin: 0;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 8px 4px 8px black;
    padding-top: 2%;
    margin-left: 8%;
    padding-bottom: 5%;
}
.quick_link {
    width: 22%;
    background: #fe0000;
    margin-left: 8%;
}
p.quick_link_head {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 3%;
}
.hr1{
	width: 30%;
    margin: 5px 3%;
    padding: 2px 0;
    background: #31d2de;
    border: none;
}
p.quick_head {
    margin: 0;
    padding-top: 2%;
    padding-left: 3%;
    color: white;
    padding-bottom: 2%;
}
.twosection {
    width: 100%;
    display: flex;
}
.form_sec {
    width: 60%;
}
input.inp_name {
    width: 25%;
    font-size: 15px;
    text-indent: 2%;
    border: 1px solid lightgray;
    padding: 5px 0;
    margin: 1% 2%;
}
input.inp_cont {
	width: 25%;
    font-size: 15px;
    text-indent: 2%;
    border: 1px solid lightgray;
    padding: 5px 0;
    margin: 1% 2%;
}
input.inp_email {
	width: 25%;
    font-size: 15px;
    text-indent: 2%;
    border: 1px solid lightgray;
    padding: 5px 0;
    margin: 1% 2%;
}
textarea.txt_area {
    width: 84%;
    margin: 5px 2%;
    font-size: 15px;
    text-indent: 5px;
    height: 100px;
}
input.btn_submit {
    padding: 1%;
    background: red;
    color: white;
    text-decoration: none;
    border: none;
    margin-left: 40%;
    margin-top: 2%;
}
hr.hr2 {
    margin: 0;
}
.adrs_sec {
    width: 40%;
}
p.adrs_head {
    text-align: center;
    margin: 5px 0;
    font-size: 30px;
    font-weight: bold;
    color: red;
}
p.adrs_para {
    width: 60%;
    margin: 5px auto;
    text-align: center;
}