body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
.navbar {
    width: 100%;
    display: flex;
    background: #31D2DE;
}
.logo_sec {
    width: 10%;
}
.nav_sec {
    width: 90%;
    margin: auto 0;
    margin-right: 2%;
}
.ul_nav_sec {
    width: 40%;
    display: flex;
    padding: 0;
    list-style: none;
}
.ul_nav_sec li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.ul_nav_sec li {
    margin-right: 5%;
}
p.dashboard_head {
    font-size: 50px;
    margin: 0;
    margin-left: 20%;
    font-weight: bold;
    color: red;
    margin-top: 2%;
}
.row {
    width: 50%;
    display: flex;
    margin-top: 2%;
}
hr.list_hr {
    margin: 10px;
    border: 1px solid gray;
}
.box {
    width: 30%;
    margin: 0 auto;
}
p.list_head {
    margin: 1% 15%;
    font-size: 30px;
    font-weight: bold;
    color: #5f3ce3;
}
ul.list_ul {
    list-style-type: none;
    padding-left: 15%;
    font-size: 18px;
}
ul.list_ul li {
    margin-bottom: 8%;
}
ul.list_ul li a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}