body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
section.doc_vsec {
    width: 90%;
    margin: 2% auto;
    border: 1px solid lightgray;
    border-radius: 10px;
}
p.doc_vhead {
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: red;
}
input.inp_pid {
    margin-left: 10%;
    font-size: 18px;
    text-indent: 5%;
    border: 1px solid lightgray;
}
input.btn_get {
    font-size: 18px;
    border: none;
    color: #5f3ce3;
}
input.pg_id {
    font-size: 18px;
    text-indent: 5%;
    margin-left: 7%;
}
input.pg_fname {
    font-size: 18px;
    text-indent: 5%;
    margin-left: 2%;
}
input.pg_lname {
    font-size: 18px;
    text-indent: 5%;
    margin-left: 2%;
}
input.pg_date {
    font-size: 18px;
    text-indent: 5%;
    margin-left: 2%;
}
input.pg_building {
    font-size: 18px;
    text-indent: 5%;
    margin-top: 2%;
    margin-left: 7%;
}
input.pg_ward {
    font-size: 18px;
    text-indent: 5%;
    margin-left: 2%;
}
p.cho_doc {
    margin-left: 22%;
    font-size: 18px;
    font-weight: bold;
}
select#spec {
	width: 16%;
	font-size: 18px;
    margin-left: 22%;
    text-indent: 5%;
}
select#docName {
	width: 16%;
    font-size: 18px;
    text-indent: 5%;
    margin-left: 2%;
}
input.btn_save {
    margin-bottom: 2%;
    font-size: 18px;
    padding: 5px 10px;
    background: red;
    border: none;
    color: white;
}