body {
	margin: 0;
}
* {
	font-family: hind siliguri;
}
.container {
    width: 100%;
}
section.slider_sec {
    width: 100%;
    background: url(image/8.jpg);
    background-size: cover;
    background-position-y: 23%;
}
p.slider_head {
    margin: 0;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 8px 4px 8px black;
    padding-top: 2%;
    margin-left: 8%;
    padding-bottom: 5%;
}
.quick_link {
    width: 22%;
    background: #fe0000;
    margin-left: 8%;
}
p.quick_link_head {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 3%;
}
.hr1{
	width: 30%;
    margin: 5px 3%;
    padding: 2px 0;
    background: #31d2de;
    border: none;
}
p.quick_head {
    margin: 0;
    padding-top: 2%;
    padding-left: 3%;
    color: white;
    padding-bottom: 2%;
}
p.care_head {
    font-size: 30px;
    margin: 0 5%;
    font-weight: bold;
    color: red;
    border-bottom: 2px solid gray;
    margin-top: 4%;
}
p.care_para {
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
}
p.videos_head {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: red;
}
.row {
    width: 100%;
    display: flex;
}
.box {
    width: 40%;
    margin: 0 5%;
}