body {
  margin: 0;
}
* {
  font-family: hind siliguri;
}
.container {
  width: 100%;
}
section.data_sec {
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2%;
  margin: 5% auto;
}
p.data_head {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  color: red;
}
input.inp_id {
  font-size: 18px;
  text-indent: 10px;
  padding: 5px;
  margin-top: 2%;
}
input.btn_src {
  font-size: 18px;
  padding: 7px 10px;
  background: red;
  border: none;
  color: white;
  margin-left: 1%;
}
table.tbl_ward {
  width: 90%;
  margin: 1% auto;
  border-collapse: collapse;
}
.tbl_ward tr th {
  border: 1px solid lightgray;
  padding: 5px;
  font-size: 18px;
  width: 9%;
}
.tbl_ward tr td {
  border: 1px solid lightgray;
  padding: 5px;
  font-size: 15px;
  width: 9%;
  text-align: center;
}
a.a_adddoc {
  text-decoration: none;
  color: white;
}
a.a_adddoc p {
  width: 70%;
  background: #5f3ce3;
  margin: 5px auto;
  padding: 5px 10px;
}
a.a_dscg {
  text-decoration: none;
  color: white;
}
a.a_dscg p {
  width: 70%;
  background: red;
  margin: 5px auto;
  padding: 5px 10px;
}
