.row .top-sec {
  width: 50%;
}
.background {
  background: #067cac;
}
i.fab.fa-facebook-square {
  font-size: 40px;
  margin: 30% 0;
  color: #38529a;
}
i.fab.fa-twitter-square {
  font-size: 40px;
  margin: 30% 0;
  color: #03a9f4;
}
nav.navbar.navbar-expand-lg {
  background: #067cac;
}
a.navbar-brand {
  color: white;
  width: 8%;
  margin: auto 2%;
  font-weight: bold;
}
a.nav-link {
  color: white;
}
ul.navbar-nav.mr-auto {
  width: 100%;
  justify-content: flex-end;
}
img.img-prop {
  width: 100%;
}
footer {
  background: #067cac;
}
footer h3 {
  color: white;
  padding: 2% 5%;
}
img.img-prop {
  width: 80%;
  margin: 0 10%;
}
footer label {
  color: white;
  font-weight: bold;
}
footer h5 {
  color: white;
}
footer h7 {
  color: white;
}
i.fas.fa-map-marker-alt {
  color: white;
  font-size: 20px;
}
.text-center.bottom {
  background: white;
  padding: 2%;
}
.text-center.bottom p {
  margin: 0;
}
button.contact {
  border: none;
  padding: 6px 15px;
  color: #067cac;
  background: white;
}
.dropdown-item {
  cursor: pointer;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 80px;
}
footer .row.mb-5 {
  width: 100%;
}
.bottom h7 {
  color: #067cac;
}

@media only screen and (max-width: 480px) {
  img {
    margin-left: 5%;
    width: 50px;
  }
  .navbar-dark .navbar-brand {
    font-size: 15px;
  }

  footer h3 {
    color: white;
    padding: 2% 5%;
    font-size: 20px;
  }
  img.img-prop {
    width: 50%;
    margin: 0 25%;
  }
  footer label {
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
  footer input.form-control {
    font-size: 12px;
  }
  footer textarea.form-control {
    font-size: 12px;
  }
  button.contact {
    font-size: 12px;
  }
  footer h7 {
    font-size: 12px;
  }
}
